.col-md-1 {
  border-left: 1px solid black;
  border-right: 1px solid black;
  height: 1080px;
}

.aboutamber {
  font-size: 5em;
  text-align: center;
  color: black;
}

.aboutdescriptionhome {
  font-size: 2em;
  text-align: center;
  color: black;
}

.aboutdescriptionhome {
  font-size: 2em;
  text-align: center;
  color: white;
}

.aboutamberhome {
  font-size: 5em;
  text-align: center;
  color: white;
}

.abouthome {
  background: black;
}
.aboutpara {
  text-align: center;
}
