.col-md-1 {
  border-left: 1px solid black;
  border-right: 1px solid black;
  height: 1080px;
}

.aboutamber {
  font-size: 5em;
  text-align: center;
}

.aboutdescription {
  font-size: 2em;
  text-align: center;
}

.aboutpara {
  text-align: center;
}

.aboutphotos {
  width: 70%;
}
