@import url(https://fonts.googleapis.com/css?family=Pacifico);
@import url(https://fonts.googleapis.com/css?family=Permanent+Marker);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:600);

.col-md-1 {
  border-left: 1px solid black;
  border-right: 1px solid black;
  height: 1080px;
}

.aboutamber {
  font-size: 5em;
  text-align: center;
  color: black;
  font-family: 'Permanent Marker', cursive;
}

.aboutdescription {
  font-size: 2em;
  text-align: center;
  color: black;
  font-family: 'Pacifico', cursive;
}

.aboutdescriptionhome {
  font-size: 2em;
  text-align: center;
  color: white;
  font-family: 'Pacifico', cursive;
}

.aboutamberhome {
  font-size: 5em;
  text-align: center;
  color: white;
  font-family: 'Permanent Marker', cursive;
}

.abouthome {
  background: black;
}
.aboutpara {
  text-align: center;
  font-family: 'Source Sans Pro', sans-serif;

}

.homenav-item:hover {
  background: #7f00ff;
}

.homenav-list {
  text-align: left;
  display: inline-block;
  padding: 15px 25px;
  padding-left: 0px;
  font-family: 'Source Sans Pro', sans-serif;
}

.homenav-item {
  display: inline-block;
  padding: 15px 25px;
  font-family: inherit;
  font-size: 1em;
  font-family: 'Source Sans Pro', sans-serif;
}
