<!DOCTYPE html>
<html>
<head>
  <title>{{ page.title }}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="assets/css/bootstrap.min.css">
  <link rel="stylesheet" href="assets/css/style.css">
</head>
<body>
<div class="container-fluid">
  <h1>{{ page.title }}</h1>
    <div class="homenav">
      <ul class="homenav-list">
        <li class="homenav-item"><a href="#about">About</a></li>
        <li class="homenav-item"><a href="#work">Work</a></li>
      </ul>
    </div>
    <!-- end home nav -->

    <div class="row">
      <div class="col-md-12">
        <img src="Photos/headshot.jpeg">
      </div>
    </div>
    <!--  end header photo -->

    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <p> <em> Hello, I'm Amber </em> <p>
        <p> artist, writer, designer </p>
        <p> Ramps occupy jean shorts narwhal cold-pressed iPhone. Gentrify thundercats actually, fingerstache meggings mumblecore roof party crucifix next level bespoke DIY. Flannel kickstarter tilde, offal seitan deep v kogi cray blog meditation literally VHS small batch hashtag. Whatever mixtape letterpress, ennui paleo plaid fap cardigan. Yr you probably haven't heard of them meditation, skateboard vegan butcher hella slow-carb cronut tumblr church-key typewriter. Williamsburg chartreuse forage, typewriter kickstarter hammock you probably haven't heard of them austin mustache crucifix chambray.</p>
      </div>
    </div>
    <!-- end about section -->


    <div class="row">
      <div class="col-md-4">
        <img src="Photos/BnW.jpg">

      <div class="col-md-8 col-md-offset-2">
        <div class="row">

          <div class="col-md-4" >
            <img src="Photos/Know-forget.jpg">
          </div>

          <div class="col-md-4">
            <img src="Photos/Follow-heart.jpg">
          </div>

          <div class="col-md-4">
            <img src="Photos/Gift-present.jpg">
          </div>

        </div>
      </div>
    </div>
    <!-- end work B&W-->

    <div class="row">
      <div class="col-md-4">
        <img src="Photos/Color-white.jpg">
      </div>
    
        <div class="col-md-8 col-md-offset-2">
          <div class="row">

            <div class="col-md-4">
            <img src="Photos/Geart.png">
          </div>

            <div class="col-md-4">
            <img src="Photos/Fall-spring.png">
          </div>

            <div class="col-md-4">
            <img src="Photos/Come-within.png">
          </div>
          </div>

        </div>
      </div>
      <!-- end work COLOR-->

      <div class="row">
        <div class="col-md-4">
          <img src="Photos/Gift-present.jpg">
        </div>

        <div class="col-md-8 col-md-offset-2">
          <div class="row">
            <div class="col-md-4">
            <img src="Photos/Wander-wonder.png">
            </div>

            <div class="col-md-4">
            <img src="Photos/Stop-thinking.png">
            </div>

            <div class="col-md-4">
            <img src="Photos/Moon-phase.png">
          </div>

          </div>
        </div>
      </div>
      <!-- end work HATS-->

</div>
</body>
</html>
